/*Estilos generales*/
*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font:100% /1.5 Arial, sans-serif;
}

.contenedor {
    display: table;
    clear: both;
    width: 90%;
    margin: 0 auto;
}

/*ESTILOS ENCABEZADO*/
header.encabezado {
    padding: 1.75em 0;
}
.logo {
    display: block;
    width: 19.91304%; /*229 - 1150*/
    float: left;
}
.logo img{
    max-width: 100%;
}

.barra-encabezado{
    float: right;
    margin-top: 4em; /*64-16*/
}

.barra-encabezado .telefono {
    display: inline-block;
    color: #a49c8f;
    text-decoration: none;
    font-size: 1.25em; /*20-16*/
    cursor: default;
}
.barra-encabezado .telefono .fa-phone {
    font-size: 1.8em; /*35-20*/
    vertical-align: middle;
    padding-right: 0.1; /*2-20*/
}
.barra-encabezado form {
    display: inline-block;
    margin: 0 2.5em;
}
.barra-encabezado form input{
    border: 0.0625em solid #dedede;/*1-20*/
    background: #f2f2f1;
    border-radius: 0.3125em;/*5-20*/
    padding: 0.625em;/*10-20*/
    color: #a49c8f;
}
.barra-encabezado form input:hover,
.barra-encabezado form input:focus {
    border: 0.0625em solid #ED8D21;/*1-20*/
    background: #EAEAEA;
    outline: none;
}
.barra-encabezado ul {
    display: inline-block;
}
.barra-encabezado .redes-sociales {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.barra-encabezado .redes-sociales li {
    display: inline-block;
}
.barra-encabezado .redes-sociales li a {
    text-decoration: none;
    color: white;
    background: #f1af44;
    display: block;
    width: 2.25em;
    height: 2.25em;
    text-align: center;
    line-height: 2.25em; /*Centra vertical*/
    border-radius: 50%; /*Redondea el logo*/
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.barra-encabezado .redes-sociales li a:hover {
    background: #A49C8F;
}
/*--------------------------------------------------------------------
                          ESTILOS MENU PRINCIPAL
----------------------------------------------------------------------*/
nav.menu-principal{
    background: #ee5624;
}
nav.menu-principal ul{
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
nav.menu-principal li{
    display: table-cell;
}
nav.menu-principal li a{
    display: block;
    text-align: center;
    text-decoration: none;/* Le quita la linea a los enlaces*/
    color: white;
    text-transform: uppercase;
    font-size: 1.125em;/*18-16*/
    padding: 1.25em 0;/*18-16*/
    border-left: 0.0625em solid #ff7041;/*1-16*/
    border-right: 0.0625em solid #cf3705;/*1-16*/
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
nav.menu-principal li:first-child a{
    border-left: none;
}
nav.menu-principal li:last-child a{
    border-right: none;
}

nav.menu-principal li a:hover{
    background: rgb(249,132,93);
}

/*--------------------------------------------------------------------
                          ESTILOS PARA LA PRESENTACION
----------------------------------------------------------------------*/
section.presentacion{
    background: url("../images/fondo-presentacion.jpg") no-repeat;
    background-size: cover;
}
section.presentacion .texto-presentacion{
    float: left;
    width: 53.21%;
    text-align: center;
}
section.presentacion .texto-presentacion h1{
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 0 rgb(56, 55, 55);
    font-size: 3.75em;/*60 - 16*/
    letter-spacing: 2px;
    margin: 1.46em 0 0 0;/*88 - 60*/
    line-height: 1.1;
}
section.presentacion .texto-presentacion h2{
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 0 rgb(56, 55, 55);
    font-size: 1.5em;/*24 - 16*/
    margin: 0;
    line-height: 1.1;
}
section.presentacion .texto-presentacion .boton-principal{
    color: white;
    background-color: #ee5624;
    padding: 0.7142em;/*20 - 28*/
    border: 5px solid rgba(255, 255, 255, 0.42);
    border-radius: 0.28em;/*8 - 28*/
    background-clip: padding-box;
    font-size: 1.75em;/*28 - 16*/
    display: inline-block;
    margin: 0.7142em 0 0 0;/*20 - 28*/
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
section.presentacion .texto-presentacion .boton-principal:hover{
    background-color: #CA3200;
    border: 5px solid rgba(255, 255, 255, 0.87);
}
section.presentacion .images-presentacion{
    float: right;
    width: 43.91%;
}
section.presentacion .images-presentacion img{
    position: relative;
    top: 2.5em;/*50-20*/
    max-width: 100%;
}

/*--------------------------------------------------------------------
                          ESTILOS PARA BIENVENIDOS
----------------------------------------------------------------------*/
.bienvenidos h2 {
    font-family: Helvetica;
    color: #ee5624;
    font-size: 3em;/*48 - 16*/
    margin: 0.58em 0 0 0;/*28 - 48*/
    line-height: 1.1;
    text-align: center;
}
.bienvenidos p {
    font-family: Helvetica;
    color: #5a605b;
    font-size: 1.75em;/*28 - 16*/
    margin: 0.28em 0 0 0;/*8 - 28*/
    line-height: 1.1;
    text-align: center;
}

.bloque-bienvenidos{
    display: table;
    margin: 0.3125em 0 0 0;/*5-16*/
}
.bloque-bienvenidos figure{
    display: table-cell;
    text-align: center;
    padding: 0.9375em 2.1875em; /*15px - 35px*/
}

.clock-image {
    color: white;
    background: #ee5624;
    display: block;
    width: 4.50em;
    height: 4.50em;
    text-align: center;
    line-height: 4.50em !important; /*Centra vertical*/
    border-radius: 50%; /*Redondea el logo*/
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.clock-image:hover {
    background: #5a605b;
}
.bloque-bienvenidos figure a{
    text-decoration: none;
}

.bienvenidos h3 {
    margin: 0.6em 0 0.4em 0; /*15px - 10px*/
    font-family: Helvetica;
    color: #ee5624;
    font-size: 1.5625em;/*15 - 16*/
    margin: 0.28em 0 0 0;/*8 - 28*/
    line-height: 1.1;
    text-align: center;
}
.bienvenidos h3:hover {
    color:#5a605b;
}
.bloque-bienvenidos figure figcaption{
    margin: 0.6em 0 0 0; /*15px - 10px*/
    color:#5a605b;
}

/*--------------------------------------------------------------------
                ESTILOS CONTENIDO PRINCIPAL DEL SITIO
----------------------------------------------------------------------*/
main {
    background: #ee5624;
    color: white;
    padding-bottom: 3.125em; /*50-16*/
}
main article.quienes-somos {
    display: table-cell;
    width: 50%;
    padding: 0.625em;/*10-16*/
}
main article.quienes-somos img{
    float: left;
    width: 40%;
}
main article.quienes-somos p{
    float: left;
    width: 58%;
    margin: 0 0 0 2%;
}
main article.quienes-somos a{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #ee5624;
    padding: 0.3571em 1.071em;/*17,30 -16*/
    border: 5px solid rgba(255, 255, 255, 0.42);
    border-radius: 0.28em;/*8 - 28*/
    background-clip: padding-box;
    font-size: 1.75em;/*28 - 16*/
    display: inline-block;
    margin: 0.7142em 0 0 0;/*20 - 28*/
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
main article.quienes-somos a:hover{
    background-color: #CA3200;
    border: 5px solid rgba(255, 255, 255, 0.87);
}
main article h2{
    font-family: Helvetica;
    font-size: 2.1875em;/*25 - 16*/
}
main article.aqui-estamos {
    display: table-cell;
    width: 50%;
    padding: 0.625em;/*10-16*/
}
main article.aqui-estamos iframe{
    height: 20.5em;
}

/*--------------------------------------------------------------------
                ESTILOS PARA EL PIE DE PAGINA
----------------------------------------------------------------------*/

footer.piedepagina {
    background: #444444;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/*-------------------Ocultamos boton movil---------------------------*/
#menumovil {
    display: none;
}

/* -------------------------------------------------------------------
                MediasQueries a los 1500px
-------------------------------------------------------------------*/

@media screen and (max-width: 1500px) {
    section.presentacion .texto-presentacion h1{
        font-size: 3em;/*60 - 16*/
        margin: 0.6em 0 0 0;
    }
    section.presentacion{
        padding: 0.5em;
    }
}/*Fin de medias queries a los 1500px*/
/* -------------------------------------------------------------------
                MediasQueries a los 810px
-------------------------------------------------------------------*/

@media screen and (max-width: 810px) {
    section.presentacion .texto-presentacion h1{
        font-size: 2.8em;/*60 - 16*/
        margin: 0.6em 0 0 0;
    }
}/*Fin de medias queries a los 810px*/
/* -------------------------------------------------------------------
                MediasQueries a los 966px
-------------------------------------------------------------------*/
@media screen and (max-width: 966px) {
    body{
        font-size: 87.5%;
    }
    .contenedor{
        width: 96%;
    }
}/*Fin de medias queries a los 966px*/

/* -------------------------------------------------------------------
                MediasQueries a los 770px
-------------------------------------------------------------------*/
@media screen and (max-width: 770px) {
    section.presentacion .texto-presentacion h1{
        font-size: 2.4em;
        margin: 0.6em 0 0 0;
    }
    section.presentacion .texto-presentacion .boton-principal{
        padding: 0.5em;
        font-size: 1.6em;
    }
}/*Fin de medias queries a los 770px*/

/* -------------------------------------------------------------------
                MediasQueries a los 750px
-------------------------------------------------------------------*/

@media screen and (max-width: 750px) {
    .contenedor{
        width: 100%;
    }
    main article.quienes-somos{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    main article.aqui-estamos{
        display: block;
        width: 100%;
        padding: 0.625em;
    }
    nav.menu-principal ul li a {
        font-size: 1em;
    }
    header.encabezado {
        padding: 1em 0;
    }
    .logo {
        width: 96%;
        display: block;
        float: center;
        text-align: center;
        margin: 0 auto;
        padding: 1em;
    }
    .barra-encabezado {
        margin-top: 1em;
        float: none;
        text-align: center;
    }

    /*Estilos menu movil*/

    nav.menu-principal ul {
        display: none;
        background: #222222;
    }
    nav.menu-principal ul li {
        float: none;
        width: auto;
        border-top: 1px solid #696565;
        border-bottom: 1px solid #1e1e1e;
        display: block;
    }
    nav.menu-principal ul li a {
        background: #3d3c3e;
        color: white;
        border-radius: 0; /* 6px / 16px*/
        margin: 0px; /* 2px / 16px*/
        transition: all 0.5s ease;
    }
    nav.menu-principal ul li a:hover {
        background: #1d1c1d;
        border-radius: 0;
    }

    /* Estilos para el boton de tres lineas*/
    #menumovil {
        display: block;
        background: #EE5624;
        position: relative;
        text-decoration: none;
        text-align: center;
        height: 3em; /* 48px / 16px  */
        line-height: 3em; /* 48px / 16px  */
        position: relative;
        color: white
    }
    #menumovil:hover{
        background: black;
    }
    #menumovil:before{
        content: "";
        position: absolute;
        right: 0.75em; /* 12px / 16px*/
        top: 0.75em; /* 12px / 16px*/
        width: 1.875em; /* 30px / 16px*/
        height: 1.4285em; /* 4px / 16px*/
        border-top: 4px solid white;
        border-bottom: 12px double white;
        transition: all 0.5s;
    }
    #menumovil:hover:before{
        content: "";
        border-top: 4px solid #ff5864;
        border-bottom: 12px double #ff5864;
    }
    .bloque-bienvenidos figure{
        display: block;
        text-align: center;
        padding: 0.2em 2.1875em; /*15px - 35px*/
        overflow: hidden;
        border-bottom: 5px solid rgb(238, 86, 36, 1);
    }
    .clock-image {
        float: left;
        margin-right: 2%;
    }
    .bienvenidos h3{
        text-align: left;
    }
    .bienvenidos figcaption{
        text-align: left;
    }
    section.presentacion .texto-presentacion .boton-principal{
        font-size: 1.4em;
    }
}/*Fin de medias queries a los 750px*/

/* -------------------------------------------------------------------
                MediasQueries a los 770px
-------------------------------------------------------------------*/
@media screen and (max-width: 550px) {
    .barra-encabezado .telefono {
        display: block;
        cursor: pointer;
        background: rgb(238, 86, 36);
        color: white;
        padding: 0.5em;
        border-radius: 0.3125em;
        width: 96%;
        font-size: 1.5em;
        margin: 0 auto;
        text-shadow: 1px 1px 0 rgb(150, 44, 9);
    }
    .barra-encabezado .telefono:hover {
        background: rgb(240, 173, 9);
    }
    .barra-encabezado form {
        display: block;
        margin: 1em 0;
    }
    .barra-encabezado .redes-sociales {
        display: block;
        padding: 0;
        margin: 0;
    }
    .barra-encabezado form input {
        width: 96%;
        padding:1em;
    }
    .barra-encabezado .telefono:hover {
        background: rgb(240, 173, 21);
    }
    section.presentacion .texto-presentacion h1 {
        font-size: 2.3em;
        margin: 0.1em 0 0 0;
    }
      section.presentacion .texto-presentacion .boton-principal{
        font-size: 1.1em;
    }
    .bloque-bienvenidos figure{
        display: block;
        text-align: center;
        padding: 0.2em 2.1875em; /*15px - 35px*/
        overflow: hidden;
        border-bottom: 5px solid rgb(238, 86, 36, 1);
    }
    .clock-image {
        float: none;
        margin-right: 0%;
    }
    .bienvenidos h3{
        text-align: center;
    }
    .bienvenidos figcaption{
        text-align: center;
    }
}/*Fin de medias queries a los 550px*/



/* -------------------------------------------------------------------
                MediasQueries a los 1800px
-------------------------------------------------------------------*/
@media screen and (min-width: 1800px) {
    body{
        font-size: 125%;
    }
    section.presentacion .texto-presentacion .boton-principal{
        margin: 0.7142em 0 1em;/*20 - 28*/
    }
    section.presentacion .images-presentacion img{
        top: 3.5em;/*50-20*/
    }
}/*Fin de medias queries a los 1800px*/

/* -------------------------------------------------------------------
                MediasQueries a los 2100px
-------------------------------------------------------------------*/
@media screen and (min-width: 135.25em) {
    body{
        font-size: 162.5%;
    }
    .contenedor {
        max-width: 76.92em;
    }

}/*Fin de medias queries a los 2100px*/
